<!DOCTYPE html>
<html lang="en">
<head>
  <title>Task</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<!---<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#"><span class="glyphicon glyphicon-earphone"></span> Call Now 9632587415</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>&nbsp;ArSquare@gmail.com</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron">
<div class="container">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle1" data-toggle="dropdown">
        Our Island <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Andaman Intro</a></li>
            <li><a href="#">Port-Balirs</a></li>
            <li><a href="#">Swaraj Deep(HaveLook)</a></li>
            <li><a href="#">Neil Island</a></li>
            <li><a href="#">Baratang</a></li>
        </ul>
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Explore <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Events</a></li>
          <li><a href="#">Advanture</a></li>
          <li><a href="#">Local culture</a></li>
          <li><a href="#">Relaxtion</a></li>
        </ul>
        <button type="button" class="btn btn-primary">Things To Do</button>
        <button type="button" class="btn btn-primary">Deals</button>
        <button type="button" class="btn btn-primary">Rearch Study</button>
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span>&nbsp;Join Explore</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-lg-4" id="myScrollspy">
        <ul class="nav nav-pills">
          <li class="nav-item"><br>
            <a class="nav-link active" href="#monsoon">MONSOON</a>
          </li><br><br><br><br><br>
          <li class="nav-item">
            <a class="nav-link" href="#winter">WINTER</a>
          </li><br><br><br><br>
          <li class="nav-item">
            <a class="nav-link" href="#summer">SUMMER</a>
          </li><br><br><br><br>
          <li class="nav-item">
            <a class="nav-link" href="#autumn">AUTUMN</a>
          </li><br><br><br><br>
          <li class="nav-item">
            <a class="nav-link" href="#pre-winter">PRE-WINTER</a>
          </li>
          </ul>
          </div>
      <div class="col-lg-4">
        <div id="Monsoon" class="bg-success"> 
        <img src="assets/images/img1.png" alt="Andaman" class="img1">
       </div>
      </div>
      <div class="col-lg-4">
        <div class="jumbotron2" style="height: 500px; background: white; float: right; border-radius: 13px;">
          <h5 style="text-align: center;"> <b>MOONSOON EXPERIENCE</b></h5><br>
          <h5 style="text-align:center;"><b>COMOTION IN THE OCEAN</b></h5>
          <h5 style="text-align: center;">Breath the fresh air or be a mermaid entering the pristine shallow water exploring the colorful,picturesqe,and mysterious sea life</h5><br>
          <h5 style="text-align: center;"><b>SPLAS-STATIC ANDAMAN</b></h5>
          <h5 style="text-align:center">A tonic of wilderness,longing to showcase the beauty of ture nature and allure people towards itself,is like a lightning thief taking away one's mind.</h5>
          <h5 style="text-align: center;"><b>GET SET TO</b></h5>
          <h5 style="text-align:center">A tonic of wilderness,longing to showcase the beauty of ture nature and allure people towards itself,is like a lightning thief taking away one's mind </h5>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-3">
        <img src="assets/images/img2.png" alt="Snow" style="width:100%">
        <div class="caption">
          <h4 style="text-align:center"><b>ADHANAGAR BEACH</b></h4>
        </div>
      </div>

      <div class="col-lg-3">
        <img src="assets/images/img3.png" alt="Forest" style="width:100%">
        <div class="caption">
            <h4 style="text-align: center;"><b>PORT BLAIR</b></h4>
          </div>
      </div>
      <div class="col-lg-3">
        <img src="assets/images/img4.png" alt="Mountains" style="width:100%">
        <div class="caption">
            <h4 style="text-align: center;"><b>ROSS AND SMITH</b></h4>
          </div>
      </div>
      <div class="col-lg-3">
        <img src="assets/images/img5.png" alt="HaveLook" style="width:100%">
        <div class="caption">
            <h4 style="text-align: center;"><b>HAVELOOK</b></h4>
          </div>

      </div>
    </div>
    <div id="winter" class="bg-class">
      <p>fgrdtuijl</p>
    </div>---->
    <div class="container">
      <img src="assets/images/map.jpg" alt="map" class="map">
      <a href="#" data-toggle="tooltip" data-placement="top" title="HaveLook">
      <div class="centered">Havelook </div></a>
      <a href="#" data-toggle="tooltip" data-placement="top" title="Port-Balaris">
      <div class="bottom-right">Port-Balirs</div></a>
      
      <!--<button type="button" onclick=click()>click here</button>-->
  
    <div class="container">
      <img class="img-responsive" src="assets/images/season/Spring.png" alt="spring" id="spring">
      <img class="img-responsive" src="assets/images/season/Autumn.png" alt="autumn" id="autumn">
      <a href="assets/images/Monsoon file.png"><img src="assets/images/season/Monsoon.png" alt="monsoon" id="monsoon"></a>
      <img class="img-responsive" src="assets/images/season/Pre-winter.png" alt="pre-winter" id="pre-winter">
      <img class="img-responisive" src="assets/images/season/Summer.png" alt="summer" id="summer">
      <img class="img-responsive" src="assets/images/season/winter.png" alt="winter" id="winter">
    </div>
  </div>
</body>
</html>
